.Navigation {
  list-style: none;
  padding: 0;
  font-size: 2rem;
}

.header {
  display: flex;
  margin-left: 2rem;
  & > * {
    padding: 1rem 2rem 0 2rem;
    cursor: pointer;
    border-bottom: 0.4rem solid transparent;
    text-decoration: none;
    color: #636D61;

    @media (hover: hover) {
      &:hover {
        border-bottom: 0.4rem solid rgb(204, 203, 188);
      }
    }
  }

  @media screen and (max-width: 31.25em) {
    display: none;
  }
}

.sideDrawer {
  text-align: center;
  padding: 2rem 3rem;

  & > * {
    padding: 1rem;
    border-bottom: 0.3rem solid rgb(204, 203, 188);
  }
}

.activeLink {
  border-bottom: 0.4rem solid rgb(204, 203, 188);
}