.Navigation {
  list-style: none;
  padding: 0;
  font-size: 2rem;
}

.header {
  display: flex;
  margin-left: 2rem;
  & > * {
    padding: 1rem 2rem 0 2rem;
    cursor: pointer;
    border-bottom: 0.4rem solid transparent;
    text-decoration: none;
    color: #4a5249;

    @media (hover: hover) {
      &:hover {
        border-bottom: 0.4rem solid rgb(204, 203, 188);
      }
    }
  }

  @media screen and (max-width: 31.25em) {
    display: none;
  }

  .activeLink {
    border-bottom: 0.4rem solid rgb(204, 203, 188);
  }
}

.sideDrawer {
  height: 80%;
  text-align: center;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: repeat(2, auto);

  & > * {
    padding: 1rem;
    text-decoration: none;
    color: #4a5249;;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
  }

  .activeLink {
    color: #4a5249;
    text-decoration: underline;
  }
}
