.Toolbar {
  height: 5.6rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 3rem;
  background-color: rgb(205,182,10);
  position: sticky;
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
  }
}