.Button {
  // display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform .5s;
  margin: 2rem;

  &:hover {
    transform: translateY(-.3rem);

    &:disabled {
      transform: none;
    }
  }

  &:disabled {
    color: #ccc;
  }
}

.red {
  color: rgb(188,52,77);
}

.green {
  color: rgb(68, 157, 68);
}