.Button {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform .5s;

  &:hover {
    transform: translateY(-.3rem);
  }

  &:first-of-type {
    padding-left: 0;
  }
}

.red {
  color: rgb(188,52,77);
}

.green {
  color: rgb(68, 157, 68);
}