.SideDrawer {
  width: 70%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: white;
  height: 100vh;

  display:flex;
  flex-direction: column;
  justify-content: center;

  transition: transform .3s;
}

.close {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
  position: fixed;
  top: 1rem;
  right: 3rem;
}