.Input {
  width: 100%;
  padding: .5rem 1rem;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.8rem;
}

.inputElement {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 1rem 1rem;

  &:focus {
    outline: none;
    background-color: #ccc;
  }

  // &:invalid {
  //   border: 1px solid red;
  // }
}
