.BurgerControl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}


.btn--more {
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  color: rgba(255, 255, 255, .7);
  background-color: rebeccapurple;
  transition: all .3s;
}

.btn--less {
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  color: rgba(255, 255, 255, .9);
  background-color: orangered;
  transition: all .3s;
}

.btn--less:hover {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 1);
}

.btn--less:disabled {
  color: rgba(255, 255, 255, .4);
}

.btn--more:hover {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 1);
}

.text {
  font-size: 1.6rem;
  text-transform: capitalize;
}