.BurgerControl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
}

.btn {
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  color: rgba(255, 255, 255, .9);
  transition: all .3s;


  &--less {
    background-color: rgb(188,52,77);

    &:disabled {
      color: rgba(255, 255, 255, .4);
    }

    &:hover {
      background-color: darken(rgb(188,52,77), 10%);
    }
  }

  &--more {
    background-color: rgb(163,153,106);

    &:hover {
      background-color: darken(rgb(163,153,106), 10%);
    }
  }

  &:hover {
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
  }
}

.text {
  text-transform: capitalize;
  color: darken(rgb(99,109,97), 20%);
  font-size: 2rem;
  margin: 0;
}