.OrderSummary {
  font-size: 1.6rem;
  padding: 2rem 5rem;
  background-color: white;
}

.closeIcon {
  float: right;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover {
    transform: scale(1.2)
  }
}