@import url('https://fonts.googleapis.com/css?family=Arvo:700&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
